{% extends 'base.html' %}
{% load static %}

{% block title %}Valencia | About{% endblock %}

{% block content %}
<h1 class="color">Welcome to The Valencia Project</h1>
<p>
    <a class="color-return" href="{% url 'index' %}">Return Home</a>
</p>

<div class="form-map-container">
   
<section id="form">
    <form id="contact-form" method="post" action="{% url 'about' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </form>
</section>

<div class="map">
    <iframe id="map" width="600" height="450"
        src="https://www.openstreetmap.org/export/embed.html?bbox=-0.4622%2C39.4136%2C-0.2906%2C39.5256&amp;layer=mapnik&amp;marker=39.4696%2C-0.3764"
        allowfullscreen loading="lazy">
    </iframe>

</div>
</div>
{% endblock %}