{% extends 'base.html' %}
{% load static %}

{% block title %}Valencia | Events{% endblock %}

{% block content %}
<h1 class="color">Welcome to The Valencia Project</h1>

<p class="color">The Events Page.</p>

<p>
    <a class="color" href="{% url 'index' %}">Return Home</a>
</p>

<!--Container for cards to lead to more details page-->
<div class="cards-container">
    {% for card in page_obj %}
    <!-- data - url line for whole card to be clickable -->
    <div class="card" data-url="{% url 'event-details' pk=card.id %}"
     onclick="window.location=this.dataset.url">
     <img src="{% static 'images/' %}{{ card.image_name }}" alt="{{ card.title }}">
     <p>{{ card.content|truncatechars:100}}</p>
     <a href="{% url 'event-details' pk=card.id %}" class="read-more">
        Read more
     </a>
    </div>
    {% empty %}
    <p>No cards yet</p>
    {% endfor %}
</div>

<!-- Paginator Controls -->
 <div class="pagination">
    <div class="page-number">
        <span class="page-info">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
    </div>

    {% if page_obj.has_previous %}
    <div class="prev-wrapper">
        <a href="?page={{ page_obj.previous_page_number }}" class="prev-btn">Previous</a>
    </div>
    {% endif %}

    {% if page_obj.has_next %}
    <div class="next-wrapper">
        <a href="?page={{ page_obj.next_page_number }}" class="next-btn">Next</a>
    </div>
    {% endif %}
 </div>

{% endblock %}