{% extends 'base.html' %}
{% load static %}

{% block title %}Valencia | Home{% endblock %}

{% block content %}
<h1 class="color">Welcome to The Valencia Project</h1>

<div class="image-morph">
    <img src="{% static 'images/Albufera.jpg' %}" alt="">
    <img src="{% static 'images/Science-Park.jpg' %}" alt="">
    <img src="{% static 'images/El-Carmen.jpg' %}" alt="">
    <img src="{% static 'images/fallas.jpg' %}" alt="">
    <img src="{% static 'images/Gran-Via.jpg' %}" alt="">
    <img src="{% static 'images/Plaza-Ayuntamiento.jpg' %}" alt="">
    <img src="{% static 'images/Plaza-de-la-Reina.jpg' %}" alt="">
    <img src="{% static 'images/rusafa.jpg' %}" alt="">
</div>


<div class="valencia-intro">
    <div class="valencia-text">
        {% for paragraph in content_paragraphs %}
            <p>{{ paragraph }}</p>
        {% endfor %}
    </div>
</div>

<div class="lang-switch">
    <a href="?lang=en">English</a> |
    <a href="?lang=es">Español</a>
</div>


{% endblock %}