{% extends 'base.html' %}
{% load static %}

{% block title %}Tourism | Login{% endblock %}

{% block content %}
<h1 class="color">Welcome to The Tourism Project</h1>
<p>
    <a class ="color" href="{% url 'index' %}">The Login Page.</a>
</p>

<div class="form-map-container">
    <section id="form">
        <form id="contact-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <a>Please enter your password</a>
            <button type="submit">Login</button>
        </form>
    </section>
</div>
{% endblock %}