{% extends 'base.html' %}
{% load static %}

{% block title %}Valencia | Register{% endblock %}

{% block content %}


<p class="color">The register page.</p>

<p>
    <a class="color-return" href="{% url 'index' %}">Return Home</a>
</p>

<div class="form-map-container">
    <section id="form">
        <form id="contact-form" method="post" action="{% url 'register' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <a>Please enter password</a>
            <button type="submit">Submit</button>
        </form>
    </section>
</div>

{% endblock %}